<nav role="navigation" class="NavMobile">
    <a href="/">
        <span class="visually-hidden">Hem</span>
        <img src="/logo.png" alt="Gysinge Bryggeri logotyp" width="150" height="100" />
    </a>

    <div class="relative">
        <details>
            <summary>Meny</summary>
            <ul role="list">
                {%- for entry in search.pages("menu.visible=true", "menu.order") %}
              		<li {{ 'aria-current=page' if entry.url == url }}>
             			<a href="{{ entry.url }}">{{ entry.menu.title or entry.title }}</a>
              		</li>
               	{%- endfor %}
            </ul>
        </details>
    </div>
</nav>
