{% import "icons.njk" as icons %}

<ul class="SocialLinks" role="list">
    <li>
        <a title="Besök vår Instagram" href="{{ meta.instagram }}">
            {{ icons.instagram() }}
        </a>
    </li>

    <li>
        <a title="Besök vår Facebook" href="{{ meta.facebook }}">
            {{ icons.facebook() }}
        </a>
    </li>
</ul>
