@layer setup;

@layer setup{

/*  From:
    https://github.com/mayank99/reset.css/blob/main/package/index.css
    https://piccalil.li/blog/a-more-modern-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:where([hidden]:not([hidden="until-found"])) {
    display: none !important;
}

:where(html) {
    -webkit-text-size-adjust: none;
    color-scheme: dark light;
    -moz-tab-size: 2;
      -o-tab-size: 2;
         tab-size: 2;
}

@media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
        scroll-behavior: smooth;
    }
}

:where(html) {
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
}

:where(h1, h2, h3, h4, button, input, label) {
    line-height: 1.1;
}

:where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
}

:where(textarea) {
    resize: vertical;
    resize: block;
}

:where(button, label, select, summary, [role="button"], [role="option"]) {
    cursor: pointer;
}

:where(:disabled) {
    cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
    cursor: not-allowed;
}

:where(a) {
    color: inherit;
    text-underline-offset: 0.2ex;
}

:where(ul) {
    list-style-type: disc;
}

:where(nav ul, ul[role="list"], ol[role="list"]) {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
    vertical-align: middle;
}

:where(img, picture, svg, video) {
    max-inline-size: 100%;
    block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}

:where(h1, h2, h3, h4) {
    text-wrap: balance;
}

:where(hr) {
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible;
}

:where(:focus-visible) {
    outline: 3px solid CanvasText;
    box-shadow: 0 0 0 5px Canvas;
    outline-offset: 1px;
}

:where(:focus-visible, :target) {
    scroll-margin-block: 8vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
    -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:where(progress) {
    vertical-align: baseline;
}

:where(legend) {
    padding: 0;
}

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    outline: auto;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

:where(button, select) {
    text-transform: none;
}

:where(table) {
    border-collapse: collapse;
}

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
    margin-block-start: 0;
    margin-block-end: 0;
}

:where(textarea:not([rows])) {
    min-height: 10em;
}

:where(address) {
    font-style: normal;
}
}

:root {
    --sans: Inter, system-ui, sans-serif;
    --mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    --display: Playfair Display, var(--serif);

    --leading: 1.52;
    --spacing: 1rlh;

    --f0: var(--fluid-40-90);
    --ftitle: var(--fluid-24-60);
    --f1: var(--step-3);
    --f2: var(--step-2);
    --f3: var(--step-1);
    --f4: var(--step-0);
    --f5: var(--step--1);
    --f6: var(--step--2);
    --f7: var(--step--3);
    --f8: var(--step--4);

    --color-text: color-mix(in srgb, CanvasText, transparent 15%);
    --color-hi-contrast: CanvasText;
    --color-lo-contrast: color-mix(in srgb, CanvasText, transparent 30%);
    --color-highlight: hsl(50 100% 74%);

    --color-green: oklch(75% 0.187 129.79);--step-3: clamp(2.1973rem, 2.1493rem + 0.2399vi, 2.376rem);--step-2: clamp(1.7578rem, 1.6982rem + 0.2982vi, 1.98rem);--step-1: clamp(1.4063rem, 1.3408rem + 0.3272vi, 1.65rem);--step-0: clamp(1.125rem, 1.0579rem + 0.3356vi, 1.375rem);--step--1: clamp(0.9rem, 0.834rem + 0.33vi, 1.1458rem);--step--2: clamp(0.72rem, 0.657rem + 0.3152vi, 0.9549rem);--step--3: clamp(0.576rem, 0.517rem + 0.2949vi, 0.7957rem);--step--4: clamp(0.4608rem, 0.4065rem + 0.2715vi, 0.6631rem);--fluid-40-90: clamp(2.5rem, 1.6611rem + 4.1946vi, 5.625rem);--fluid-20-32: clamp(1.25rem, 1.0487rem + 1.0067vi, 2rem);--fluid-24-60: clamp(1.5rem, 0.896rem + 3.0201vi, 3.75rem);
}

@media only screen and (prefers-color-scheme: dark) {

:root {
        --color-highlight: color-mix(in srgb, hsl(50 100% 74%), transparent 50%);
        --color-highlight: oklch(from hsl(50 100% 74%) l calc(c + 0.05) h / 50%);
}
    }

:root {
    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color-scheme: light dark;
    font: normal 106.25% / var(--leading) var(--sans);

    font-feature-settings:
        "case" 1,
        "ss01" 1,
        "liga" 1,
        "calt" 1; /* fix for Chrome */

    hanging-punctuation: first;
    color: var(--color-text);
}

@media only screen and (max-width: 480px) {

:root {
        font-size: 100%;
}
    }

@supports (font-variation-settings: normal) {

:root {
        font-family: InterVariable, sans-serif;
}
    }

input,
textarea {
    hanging-punctuation: none;
}

:focus-visible {
    outline: 2px solid var(--link-color, black);
    outline-offset: 0.2em;
    box-shadow: 0 0 0 4px white;
    border-radius: 0.25em;
}

:where(h1, h2, h3, h4, p, figure, blockquote, dl, dd):not(:last-child) {
    margin-block-end: var(--spacing, 1rlh);
}

:where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--sans);
    color: var(--color-hi-contrast);
    letter-spacing: -0.01em;
    font-weight: 500;
}

h1 {
    font-size: var(--f1);
}

h2 {
    font-size: var(--f2);
}

h3 {
    font-size: var(--f3);
}

h4 {
    font-size: var(--f4);
}

h5 {
    font-size: var(--f5);
}

h6 {
    font-size: var(--f6);
}

a {
    position: relative;
    font-weight: 500;
}

a:hover {
        color: color-mix(in srgb, var(--color-green), black 30%);
    }

a:active {
        top: 1px;
    }

strong {
    font-weight: 650;
}

::-moz-selection {
    background-color: var(--color-highlight);
}

::selection {
    background-color: var(--color-highlight);
}

address dt {
        font-weight: 700;
    }

address dd {
        margin-left: 0;
    }

address dd:not(:last-child) {
            margin-block-end: 1rlh;
        }

hr {
    border-block-start: 2px solid var(--color-lo-contrast);
    margin-block: 1rlh;
}

body {
    max-width: 960px;
    margin-inline: auto;
    padding: 0.5rlh;
    padding-bottom: 2rlh;
    min-height: 100vh;
}

main > h1:first-of-type {
    margin-block-end: var(--spacing, 1rlh);
    text-align: center;
}

main > h1:first-of-type:not(.title) {
        font-size: var(--f2);
        font-weight: 580;
        margin-block: calc(var(--spacing, 1rlh) * 3);
        text-decoration: underline;
        text-underline-offset: 0.5rlh;
        text-decoration-thickness: 2px;
    }

:is(.home, .page) main .prose {
            max-width: 60ch;
            margin-inline: auto;
        }

.NavMain {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-block-end: 2rlh;
    gap: 1rlh;
}

.NavMain a {
        color: revert-layer;
    }

.NavMain a:not(:hover) {
            text-decoration: none;
        }

.NavMain a:is(:hover, :focus-visible) {
            color: var(--color-hi-contrast);
        }

.NavMain [aria-current="page"] a {
            font-weight: 700;
            color: var(--color-hi-contrast);
            text-decoration: underline;
            text-underline-offset: -0.4ex;
            text-decoration-color: var(--color-highlight);
            -webkit-text-decoration-skip-ink: none;
                    text-decoration-skip-ink: none;
            text-decoration-thickness: 0.6ex;
        }

@media only screen and (prefers-color-scheme: dark) {

.NavMain [aria-current="page"] a {
                text-underline-offset: -0.2ex;
                text-decoration-thickness: 0.4ex;
        }
            }

.NavMain ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rlh;
    }

.NavMain a:has(img) {
        display: block;
        justify-self: center;
    }

.NavMain a:has(img) img {
            width: 6rlh;
        }

@media only screen and (max-width: 800px) {

.NavMain {
        grid-template-rows: 100px;
        grid-template-columns: 15vw 1fr;
        align-items: center;
}

        .NavMain ul {
            justify-content: flex-start;
        }
    }

.NavMobile {
    display: none;
    margin-block-end: 2lh;
}

.NavMobile .MobileNav__Home {
        font-weight: 500;
    }

.NavMobile details {
        margin: 0;
        text-align: right;
    }

.NavMobile details [role="list"] {
            background-color: black;
            position: absolute;
            z-index: 10;
            top: 3rlh;
            right: 0.5rlh;
            margin: 0;
            margin-right: -0.25rlh;
            padding: 0.5rlh 1rlh;
            border-radius: 10px;
            box-shadow: rgb(0 0 0 / 20%) -3px 5px 20px;
            overflow: hidden;
            font-size: 1.2em;
            line-height: 2;
            display: grid;
            text-align: center;
            grid-template-columns: 1fr 1fr;
        }

.NavMobile details [role="list"] li:last-child {
                grid-column: 1 / -1;
            }

.NavMobile details a {
            color: white;
        }

.NavMobile summary {
        color: var(--color-text-detail);
        white-space: nowrap;
    }

.NavMobile summary:is(:hover, details[open] > *) {
            color: var(--color-text);
        }

@media only screen and (max-width: 900px) {
    .NavMain {
        display: none;
    }
    .NavMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .NavMobile a img {
            width: 4rlh;
        }
}

.home .title {
        text-align: center;
        line-height: 1.3;
        margin-block-end: 2rlh;
        font-weight: 800;
        font-size: var(--f0);
    }

.home .title em {
            font-style: italic;
            font-family: var(--sans);
            font-size: var(--fluid-20-32);
            display: block;
            font-weight: 300;
            letter-spacing: 0;
        }

.home .prose {
        margin-block-end: 2rlh;
        font-weight: 450;
        text-wrap: pretty;
    }

.Icon {
    aspect-ratio: 1 / 1;
    width: 1em;
    fill: currentColor;
}

a:has(.Icon) {
    display: inline-block;
    transition: transform 300ms ease;

    /* Add a "spring" transition and increase transition duration for browsers who support it. */
}

@supports (transition-timing-function: linear(0, 1, 1)) {

a:has(.Icon) {
        transition-duration: 500ms;
        transition-timing-function:
            /* From https://linear-easing-generator.netlify.app */
            linear(
            0,
            0.01,
            0.042 1.6%,
            0.172 3.4%,
            0.856 9.5%,
            1.092 12.1%,
            1.237 14.5%,
            1.279,
            1.301 16.9%,
            1.305,
            1.302 18.6%,
            1.275 20.3%,
            0.986 29.3%,
            0.933,
            0.909 34.6%,
            0.908,
            0.916 38.1%,
            1.004 47%,
            1.02,
            1.028 52.2%,
            1.026 55.9%,
            0.999 64.7%,
            0.992 69.5%,
            1.002 86.5%,
            1
        );
}
    }

a:has(.Icon):is(:hover, :focus-visible) {
        transform: scale(1.2);
        color: revert-layer;
    }

a:has(.Icon):active {
        opacity: 0.65;
    }

.SocialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rlh;
}

.SocialLinks .Icon {
        font-size: 2rlh;
    }

.ProductsList {
    --product-fg-light: color-mix(in srgb, white, transparent 5%);
    --product-fg-dark: color-mix(in srgb, black, transparent 30%);

    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {

.ProductsList {
        grid-template-columns: 1fr;
        gap: 1rlh;
}
    }

.ProductsList li {
        background-color: var(--product-bg-color);
        background-color: oklch(from var(--product-bg-color) l calc(c + 0.03) h);
        color: var(--product-fg-color);
        padding: 0.75rlh;
    }

.ProductsList li h2 {
            color: inherit;
            font-family: var(--display);
            font-weight: 750;
            font-size: var(--f1);
            text-decoration: none;
        }

:is(.ProductsList li) h2 ~ p {
            margin-block: 0.5rlh 1rlh;
            font-weight: 350;
            font-size: var(--f6);
        }

.ProductsList dl {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rlh;
        align-items: baseline;
        margin-block: 0.5rlh 1rlh;
    }

.ProductsList dt {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-size: var(--f8);
    }

.ProductsList dd {
        margin-left: 0;
    }

@media only screen and (prefers-color-scheme: dark) {

.ProductsList {
        gap: 1rlh;
}

        .ProductsList li {
            background-color: transparent;
            padding: 0;
            color: revert-layer;
        }

            .ProductsList li .prose {
                font-weight: 480;
            }

            .ProductsList li h2 {
                color: color-mix(in hsl, var(--product-bg-color), white 10%);
                color: oklch(from var(--product-bg-color) calc(l + 0.1) calc(c + 0.05) h);
            }
    }

.skip-link {
    position: fixed;
    top: 1rlh;
    left: 1rlh;
}

.title {
    font-family: var(--display);
    font-weight: 850;
    font-size: var(--ftitle);
    text-decoration: none;
}

.deco {
    text-decoration: underline;
    text-underline-offset: -0.3ex;
    text-decoration-color: hsl(50 100% 74%);
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    text-decoration-thickness: 0.5ex;
    color: var(--color-hi-contrast);
}

.prose :where(h1, h2, h3, h4, h5, h6) {
        --spacing: 1.5rlh;
        margin-block-start: var(--spacing);
        text-decoration: underline;
        text-underline-offset: 0.5rlh;
        text-decoration-thickness: 2px;
    }

.btn {
    display: inline-block;
    border-radius: 8px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.5rlh 2em;
    text-align: center;
    font-weight: 580;
}

.btn:hover {
        color: color-mix(in srgb, white, transparent 30%);
    }
