<!DOCTYPE html>
<html lang="sv" {% if klass %}class="{{ klass }}"{% endif %}>

    <head>
        <meta charset="utf-8">
        <title>{% if title %}{{ title }} / {{ meta.title }}{% else %}{{ meta.title }}{% endif %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if excerpt or description or subtitle or meta.description %}
        <meta name="description" content="{{ excerpt or description or subtitle or meta.description }}">
        {% endif %}

        <link rel="stylesheet" href="/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

        <link rel="shortcut icon" href="/favicon.png" type="image/png">
        <link rel="canonical" itemprop="url" href="{{ url | url(true) }}">
    </head>

    <body>
  	     <a href="#main" class="visually-hidden skip-link">Gå till innehåll</a>

        {% include "nav.njk" %}

        <main id="main">
            {% if klass != 'home' %}
                <h1>{{ title }}</h1>
            {% endif %}

            {{ content | safe }}
        </main>
    </body>
</html>
