:root {
    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color-scheme: light dark;
    font: normal 106.25% / var(--leading) var(--sans);

    @media only screen and (max-width: 480px) {
        font-size: 100%;
    }

    font-feature-settings:
        "case" 1,
        "ss01" 1,
        "liga" 1,
        "calt" 1; /* fix for Chrome */

    hanging-punctuation: first;
    color: var(--color-text);

    @supports (font-variation-settings: normal) {
        font-family: InterVariable, sans-serif;
    }
}

input,
textarea {
    hanging-punctuation: none;
}

:focus-visible {
    outline: 2px solid var(--link-color, black);
    outline-offset: 0.2em;
    box-shadow: 0 0 0 4px white;
    border-radius: 0.25em;
}

:where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--display);
    color: var(--color-hi-contrast);
}

:where(h1, h2, h3, h4) {
    line-height: 1.1;
    font-weight: 850;
}

h1 {
    font-size: var(--f1);
}

h2 {
    font-size: var(--f2);
}

h3 {
    font-size: var(--f3);
}

h4 {
    font-size: var(--f4);
}

h5 {
    font-size: var(--f5);
}

h6 {
    font-size: var(--f6);
}

a {
    position: relative;

    &:hover {
        color: color-mix(in srgb, var(--color-green), black 30%);
    }

    &:active {
        top: 1px;
    }
}

strong {
    font-weight: 650;
}

::selection {
    background-color: var(--color-highlight);
}

address {
    dt {
        font-weight: 700;
    }

    dd {
        margin-left: 0;

        &:not(:last-child) {
            margin-block-end: 1rlh;
        }
    }
}

hr {
    border-block-start: 2px solid var(--color-lo-contrast);
    margin-block: 1rlh;
}
