.Icon {
    aspect-ratio: 1 / 1;
    width: 1em;
    fill: currentColor;
}

a:has(.Icon) {
    display: inline-block;

    &:hover {
        color: var(--color-green);
    }
}

.SocialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rlh;

    .Icon {
        font-size: 2rlh;
    }
}

.ProductsList {
    --product-fg-light: color-mix(in srgb, white, transparent 5%);
    --product-fg-dark: color-mix(in srgb, black, transparent 30%);

    display: grid;
    grid-template-columns: 1fr 1fr;

    li {
        background-color: var(--product-bg-color);
        color: var(--product-fg-color);
        padding: 1rlh;
    }

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rlh;
        align-items: baseline;
        margin-block: 0.5rlh 1rlh;
    }

    dt {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-size: var(--f8);
    }

    dd {
        margin-left: 0;
    }
}
