.Icon {
    aspect-ratio: 1 / 1;
    width: 1em;
    fill: currentColor;
}

a:has(.Icon) {
    display: inline-block;

    &:hover {
        color: var(--color-green);
    }
}

.SocialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rlh;

    .Icon {
        font-size: 2rlh;
    }
}

.ProductsList {
    li:not(:last-child) {
        margin-bottom: 3rlh;
    }

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rlh;
        align-items: baseline;
        margin-block: 0.5rlh 1rlh;
    }

    dt {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-size: var(--f8);
    }

    dd {
        margin-left: 0;
    }
}
