.Icon {
    aspect-ratio: 1 / 1;
    width: 1em;
    fill: currentColor;
}

a:has(.Icon) {
    display: inline-block;
    transition: transform 300ms ease;

    /* Add a "spring" transition and increase transition duration for browsers who support it. */
    @supports (transition-timing-function: linear(0, 1, 1)) {
        transition-duration: 500ms;
        transition-timing-function:
            /* From https://linear-easing-generator.netlify.app */
            linear(
            0,
            0.01,
            0.042 1.6%,
            0.172 3.4%,
            0.856 9.5%,
            1.092 12.1%,
            1.237 14.5%,
            1.279,
            1.301 16.9%,
            1.305,
            1.302 18.6%,
            1.275 20.3%,
            0.986 29.3%,
            0.933,
            0.909 34.6%,
            0.908,
            0.916 38.1%,
            1.004 47%,
            1.02,
            1.028 52.2%,
            1.026 55.9%,
            0.999 64.7%,
            0.992 69.5%,
            1.002 86.5%,
            1
        );
    }

    &:is(:hover, :focus-visible) {
        transform: scale(1.2);
        color: revert-layer;
    }

    &:active {
        opacity: 0.65;
    }
}

.SocialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rlh;

    .Icon {
        font-size: 2rlh;
    }
}

.ProductsList {
    --product-fg-light: color-mix(in srgb, white, transparent 5%);
    --product-fg-dark: color-mix(in srgb, black, transparent 30%);

    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        gap: 1rlh;
    }

    li {
        background-color: var(--product-bg-color);
        background-color: oklch(from var(--product-bg-color) l calc(c + 0.03) h);
        color: var(--product-fg-color);
        padding: 0.75rlh;

        h2 ~ p {
            margin-block: 0.5rlh 1rlh;
            font-weight: 350;
            font-size: var(--f7);
        }
    }

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rlh;
        align-items: baseline;
        margin-block: 0.5rlh 1rlh;
    }

    dt {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-size: var(--f8);
    }

    dd {
        margin-left: 0;
    }

    @media only screen and (prefers-color-scheme: dark) {
        gap: 1rlh;

        li {
            background-color: transparent;
            padding: 0;
            color: revert-layer;

            .prose {
                font-weight: 480;
            }

            h2 {
                color: color-mix(in hsl, var(--product-bg-color), white 10%);
                color: oklch(from var(--product-bg-color) calc(l + 0.1) calc(c + 0.05) h);
            }
        }
    }
}
