.home {
    .title {
        text-align: center;
        font-size: 60px;
        line-height: 1.4;
        margin-block-end: 3rlh;

        em {
            font-style: italic;
            font-family: var(--sans);
            font-size: var(--f4);
            display: block;
            font-weight: 260;
            letter-spacing: 0;
        }
    }

    .prose {
        max-width: 55ch;
        margin-inline: auto;

        &::first-line {
            font-weight: 650;
        }
    }
}
