body {
    max-width: 960px;
    margin-inline: auto;
    padding: 0.5rlh;
    padding-bottom: 2rlh;
    min-height: 100vh;
}

main > h1:first-of-type {
    margin-block-end: var(--spacing, 1rlh);
    text-align: center;

    &:not(.title) {
        font-size: var(--f2);
        font-weight: 580;
        margin-block: calc(var(--spacing, 1rlh) * 3);
        text-decoration: underline;
        text-underline-offset: 0.5rlh;
        text-decoration-thickness: 2px;
    }
}

:is(.home, .page) {
    main {
        .prose {
            max-width: 60ch;
            margin-inline: auto;
        }
    }
}
