body {
    max-width: 980px;
    margin-inline: auto;
    padding: 0.5rlh;
    height: 100vh;
}

main > h1:first-of-type:not(.title) {
    font-family: var(--sans);
    font-weight: 500;
    font-size: var(--f6);
    letter-spacing: 0;
    margin-block-end: 2rlh;

    text-decoration: underline;
    text-underline-offset: 0.5rlh;
    text-decoration-thickness: 2px;
}
