body {
    max-width: 960px;
    margin-inline: auto;
    padding: 0.5rlh;
    padding-bottom: 2rlh;
    min-height: 100vh;
}

main > h1:first-of-type:not(.title) {
    margin-block-end: 1rlh;

    html:not(.page) & {
        font-family: var(--sans);
        font-weight: 500;
        font-size: var(--f6);
        text-decoration: underline;
        text-underline-offset: 0.5rlh;
        text-decoration-thickness: 2px;
        letter-spacing: -0.02em;
        margin-block-end: 2rlh;
    }
}

:is(.home, .page) {
    main {
        h1 {
            text-align: center;
        }
        .prose {
            max-width: 60ch;
            margin-inline: auto;
        }
    }
}
