.NavMain {
    display: grid;
    grid-template-rows: 2;
    justify-content: flex-end;
    margin-block-end: 2rlh;
    gap: 0.5rlh;

    ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rlh;
    }

    a {
        font-weight: 500;
        color: var(--color-hi-contrast);

        &:not(:hover) {
            text-decoration: none;
        }
    }

    a:has(img) {
        display: block;
        justify-self: flex-end;
        max-width: 5rlh;
    }

    [aria-current="page"] {
        a {
            font-weight: 700;
            color: var(--color-hi-contrast);
            text-decoration: underline;
            text-underline-offset: -0.4ex;
            text-decoration-color: var(--color-highlight);
            text-decoration-skip-ink: none;
            text-decoration-thickness: 0.6ex;
        }
    }
}
