.skip-link {
    position: fixed;
    top: 1rlh;
    left: 1rlh;
}

.title {
    font-family: var(--display);
    font-weight: 850;
    font-size: var(--ftitle);
    text-decoration: none;
}

.deco {
    text-decoration: underline;
    text-underline-offset: -0.3ex;
    text-decoration-color: hsl(50 100% 74%);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.5ex;
    color: var(--color-hi-contrast);
}

.prose {
    :where(h1, h2, h3, h4, h5, h6) {
        --spacing: 1.5rlh;
        margin-block-start: var(--spacing);
        text-decoration: underline;
        text-underline-offset: 0.5rlh;
        text-decoration-thickness: 2px;
    }
}

.btn {
    display: inline-block;
    border-radius: 8px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.5rlh 2em;
    text-align: center;
    font-weight: 580;

    &:hover {
        color: color-mix(in srgb, white, transparent 30%);
    }

    @media only screen and (prefers-color-scheme: dark) {
        background-color: white;
        color: black;

        &:hover {
            color: color-mix(in srgb, black, transparent 30%);
        }
    }
}
