.skip-link {
    position: fixed;
    top: 1rlh;
    left: 1rlh;
}

.title {
    font-size: var(--f0);
}

.deco {
    text-decoration: underline;
    text-underline-offset: -0.3ex;
    text-decoration-color: hsl(50 100% 74%);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.5ex;
    color: var(--color-hi-contrast);
}

.prose {
    :where(h1, h2, h3, h4, p, figure, blockquote, dl, dd):not(:last-child) {
        margin-block-end: var(--spacing, 1rlh);
    }
}

.btn {
    display: inline-block;
    border-radius: 8px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: .5rlh 1em;
    text-align: center;
    font-weight: 500;

    &:hover {
        color: color-mix(in srgb, white, transparent 30%);
    }
}
