---
title: Våra öl
url: /ol/
menu:
    visible: true
    order: 2
---

<ol role="list" class="ProductsList">
{%- for beer in search.pages("type=beer", "date=desc") %}
    <li style="--product-bg-color: {{ beer.color }}; --product-fg-color: {{ "var(--product-fg-light)" if beer.color_text == "light" else "var(--product-fg-dark)" }}">
        <h2 id="{{ beer.title | lower | replace(" ", "-") }}">{{ beer.title | replace("Gysinge", "Gysinge<br />") | safe }}</h2>
        <p title="Alkoholprocent">{{ beer.alcohol | replace(".", ",") }}%</p>
        <div class="ProductsList__Content prose">
            {{ beer.content | md | safe }}
        </div>
    </li>
{%- endfor %}
</ol>
